* {
  box-sizing: border-box;
}

.container {
  position: relative;
  width: 766px;
  height: 443px;
  background: rgb(86, 87, 92);
}

/* SPINNER */
.sputnik24-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 64px;
  margin-left: -32px;
  z-index: 18;
  pointer-events: none;
}

.sputnik24-spinner-container {
  pointer-events: none;
  position: absolute;
  width: 100%;
  padding-bottom: 100%;
  top: 50%;
  left: 50%;
  margin-top: -50%;
  margin-left: -50%;
  animation: sputnik24-spinner-linspin 1568.23529647ms linear infinite;
  -webkit-animation: sputnik24-spinner-linspin 1568.23529647ms linear infinite;
}

.sputnik24-spinner-rotator {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-animation: sputnik24-spinner-easespin 5332ms
    cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  animation: sputnik24-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1)
    infinite both;
}

.sputnik24-spinner-left {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}

.sputnik24-spinner-right {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.sputnik24-spinner-left {
  right: 49%;
}

.sputnik24-spinner-right {
  left: 49%;
}

.sputnik24-spinner-circle {
  box-sizing: border-box;
  position: absolute;
  width: 200%;
  height: 100%;
  border-style: solid;
  border-color: #ddd #ddd transparent;
  border-radius: 50%;
  border-width: 6px;
}

.sputnik24-spinner-left .sputnik24-spinner-circle {
  left: 0;
  right: -100%;
  border-right-color: transparent;
  -webkit-animation: sputnik24-spinner-left-spin 1333ms
    cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  animation: sputnik24-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1)
    infinite both;
}

.sputnik24-spinner-right .sputnik24-spinner-circle {
  left: -100%;
  right: 0;
  border-left-color: transparent;
  -webkit-animation: sputnik24-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1)
    infinite both;
  animation: sputnik24-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite
    both;
}

@-webkit-keyframes sputnik24-spinner-linspin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes sputnik24-spinner-linspin {
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes sputnik24-spinner-easespin {
  12.5% {
    -webkit-transform: rotate(135deg);
  }
  25% {
    -webkit-transform: rotate(270deg);
  }
  37.5% {
    -webkit-transform: rotate(405deg);
  }
  50% {
    -webkit-transform: rotate(540deg);
  }
  62.5% {
    -webkit-transform: rotate(675deg);
  }
  75% {
    -webkit-transform: rotate(810deg);
  }
  87.5% {
    -webkit-transform: rotate(945deg);
  }
  to {
    -webkit-transform: rotate(1080deg);
  }
}

@keyframes sputnik24-spinner-easespin {
  12.5% {
    transform: rotate(135deg);
  }
  25% {
    transform: rotate(270deg);
  }
  37.5% {
    transform: rotate(405deg);
  }
  50% {
    transform: rotate(540deg);
  }
  62.5% {
    transform: rotate(675deg);
  }
  75% {
    transform: rotate(810deg);
  }
  87.5% {
    transform: rotate(945deg);
  }
  to {
    transform: rotate(1080deg);
  }
}

@-webkit-keyframes sputnik24-spinner-left-spin {
  0% {
    -webkit-transform: rotate(130deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
  }
  to {
    -webkit-transform: rotate(130deg);
  }
}

@keyframes sputnik24-spinner-left-spin {
  0% {
    transform: rotate(130deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  to {
    transform: rotate(130deg);
  }
}

@-webkit-keyframes sputnik24-right-spin {
  0% {
    -webkit-transform: rotate(-130deg);
  }
  50% {
    -webkit-transform: rotate(5deg);
  }
  to {
    -webkit-transform: rotate(-130deg);
  }
}

@keyframes sputnik24-right-spin {
  0% {
    transform: rotate(-130deg);
  }
  50% {
    transform: rotate(5deg);
  }
  to {
    transform: rotate(-130deg);
  }
}

/* CONTROLS */

.sputnik24-controls {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  bottom: 0;
}

.sputnik24-button {
  width: 48px;
  height: 48px;
  background: transparent;
  appearance: none;
  user-select: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.sputnik24-gradient-bottom {
  position: absolute;
  width: 100%;
  height: 210px;
  background: linear-gradient(#0000 0%, #000 100%);
  bottom: 0;
  left: 0;
  opacity: 0.5;
}

/* PLAY-PAUSE CONTROL */

.sputnik24-playing-toggle {
  position: absolute;
  bottom: 0;
  left: 12px;
  width: 46px;
}

.sputnik24-playing-toggle::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 19px;
  opacity: 0.9;
  background: #fff;
  transition: all 0.3s ease-in-out, opacity 0.1s cubic-bezier(0.4, 0, 1, 1);
}

.sputnik24-play.sputnik24-playing-toggle::before {
  clip-path: polygon(
    0 0,
    50% 25%,
    50% 75%,
    50% 75%,
    50% 25%,
    100% 50%,
    100% 50%,
    0 100%
  );
}

.sputnik24-pause.sputnik24-playing-toggle::before {
  clip-path: polygon(
    0 0,
    30% 0,
    30% 100%,
    70% 100%,
    70% 0,
    100% 0,
    100% 100%,
    0 100%
  );
}

.sputnik24-playing-toggle:hover::before {
  opacity: 1;
}

/* FULLSCREEN CONTROL */

.sputnik24-fullscreen-toggle {
  position: absolute;
  bottom: 0;
  right: 12px;
}

.fullscreen-icon {
  display: none;
}

.exit-fullscreen-icon {
  display: none;
}

.sputnik24-fullscreen .fullscreen-icon,
.sputnik24-exit-fullscreen .exit-fullscreen-icon {
  display: block;
  opacity: 0.9;
  transition: opacity 0.1s cubic-bezier(0.4, 0, 1, 1);
}

.sputnik24-fullscreen:hover .fullscreen-icon,
.sputnik24-exit-fullscreen:hover .exit-fullscreen-icon {
  opacity: 1;
}

.sputnik24-fullscreen:hover .fullscreen-icon .fullscreen-icon-corner-0 {
  animation: fullscreen-corner-0-animation 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.sputnik24-fullscreen:hover .fullscreen-icon .fullscreen-icon-corner-1 {
  animation: fullscreen-corner-1-animation 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.sputnik24-fullscreen:hover .fullscreen-icon .fullscreen-icon-corner-2 {
  animation: fullscreen-corner-2-animation 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.sputnik24-fullscreen:hover .fullscreen-icon .fullscreen-icon-corner-3 {
  animation: fullscreen-corner-3-animation 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes fullscreen-corner-0-animation {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-1px, -1px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes fullscreen-corner-1-animation {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(1px, -1px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes fullscreen-corner-2-animation {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(1px, 1px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes fullscreen-corner-3-animation {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-1px, 1px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.sputnik24-exit-fullscreen:hover
  .exit-fullscreen-icon
  .exit-fullscreen-icon-corner-0 {
  animation: exit-fullscreen-corner-0-animation 0.4s
    cubic-bezier(0.4, 0, 0.2, 1);
}

.sputnik24-exit-fullscreen:hover
  .exit-fullscreen-icon
  .exit-fullscreen-icon-corner-1 {
  animation: exit-fullscreen-corner-1-animation 0.4s
    cubic-bezier(0.4, 0, 0.2, 1);
}

.sputnik24-exit-fullscreen:hover
  .exit-fullscreen-icon
  .exit-fullscreen-icon-corner-2 {
  animation: exit-fullscreen-corner-2-animation 0.4s
    cubic-bezier(0.4, 0, 0.2, 1);
}

.sputnik24-exit-fullscreen:hover
  .exit-fullscreen-icon
  .exit-fullscreen-icon-corner-3 {
  animation: exit-fullscreen-corner-3-animation 0.4s
    cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes exit-fullscreen-corner-0-animation {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-1px, -1px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes exit-fullscreen-corner-1-animation {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(1px, -1px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes exit-fullscreen-corner-2-animation {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(1px, 1px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes exit-fullscreen-corner-3-animation {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-1px, 1px);
  }
  100% {
    transform: translate(0, 0);
  }
}

/* VOLUME CONTROL */

.sputnik24-mute-toggle {
  /* position: absolute;
  bottom: 0;
  left: 58px; */
  position: relative;
}

.sputnik24-mute-toggle .volume-icon {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.9;
  transition: opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1);
}

.volume-icon .mute-slash {
  opacity: 0;
  transition: opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1);
}

.sputnik24-mute-toggle:hover .volume-icon {
  opacity: 1;
}

.volume-icon.mute-volume .mute-path {
  opacity: 0;
  transition: opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1);
}

.volume-icon.mute-volume .mute-slash {
  opacity: 1;
}

.volume-icon .high-level {
  transition: opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
}

.volume-icon.low-volume .high-level {
  opacity: 0;
}

.sputnik24-volume-area {
  position: absolute;
  bottom: 0;
  left: 58px;
  display: flex;
}

.sputnik24-volume-panel {
  /* position: absolute;
  bottom: 0;
  left: 106px; */
  width: 0;
  height: 48px;
  position: relative;
  /* width: 0px; */
  transition: width 0.2s;
  overflow: hidden;
}

.sputnik24-volume-slider {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 52px;
  height: 3px;
}

.sputnik24-volume-range {
  -webkit-appearance: none;
  width: 52px;
  height: 3px;
  background: rgba(255, 255, 255, 0.2);
  /* background: #fff; */
  outline: none;
  position: absolute;
  cursor: pointer;
  margin: 0;
}

.sputnik24-volume-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.sputnik24-volume-range::-moz-range-thumb {
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 50%;
  border: none;
  appearance: none;
  cursor: pointer;
}

.sputnik24-volume-range::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  /* background: #fff;
  height: 3px; */
}

.sputnik24-volume-range::-moz-range-thumb {
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 50%;
  border: none;
  appearance: none;
  cursor: pointer;
}

.sputnik24-volume-progress {
  width: 50%;
  background: #fff;
  height: 100%;
}

/* SETTINGS */
p {
  margin: 0;
}
.sputnik24-settings-button {
  position: absolute;
  bottom: 0;
  right: 50px;
}

.sputnik24-settings-button .settings-icon {
  opacity: 0.9;
  pointer-events: none;
  transition: transform 0.1s cubic-bezier(0.4, 0, 1, 1),
    opacity 0.1s cubic-bezier(0.4, 0, 1, 1);
  transform: rotate(0deg);
}

.sputnik24-settings-button:hover .settings-icon {
  opacity: 1;
}

.sputnik24-settings-button.show-settings-menu .settings-icon {
  opacity: 1;
  transform: rotate(30deg);
}

.sputnik24-settings-menu {
  width: 417px;
  border-radius: 2px;
  background: rgba(28, 28, 28, 0.9);
  position: absolute;
  bottom: 50px;
  right: 20px;
  display: none;
}

.sputnik24-settings-menu.active {
  display: block;
}

.sputnik24-panel {
  padding: 8px 0;
}

.sputnik24-menu-item {
  display: flex;
  align-items: center;
  height: 40px;
  cursor: pointer;
}

.sputnik24-menu-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.sputnik24-menu-item__icon {
  padding: 0 10px;
  position: relative;
  height: 40px;
  width: 44px;
}

.sputnik24-menu-item__icon .quality-icon {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.sputnik24-menu-item__label {
  color: #fff;
}

.sputnik24-menu-item__content {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 10px;
}

.sputnik24-menu-item__content-label {
  color: rgb(238, 238, 238);
}

.sputnik24-menu-item__label-secondary {
  color: #ccc;
  font-size: 14px;
  margin-left: 6px;
}

.sputnik24-menu-item__content .right-arrow {
  width: 32px;
  height: 32px;
}

/* QUALITY MENU */

.sputnik24-quality-menu {
  width: 251px;
  background: rgba(28, 28, 28, 0.9);
  position: absolute;
  right: 20px;
  bottom: 50px;
  border-radius: 2px;
  display: none;
}

.sputnik24-quality-menu.show-quality-menu {
  display: block;
}

.sputnik24-quality-menu__header {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 56px;
  padding: 8px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.sputnik24-quality-menu__header .left-arrow {
  transform: rotate(180deg);
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.sputnik24-quality-menu__body {
  margin: 0;
  padding: 8px 0;
}

.sputnik24-quality-menu__body-item {
  display: flex;
  align-items: center;
  height: 40px;
  padding-left: 35px;
  list-style: none;
  cursor: pointer;
  position: relative;
}

.sputnik24-quality-menu__body-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.sputnik24-quality-menu__body-item span {
  color: rgb(238, 238, 238);
}

.sputnik24-quality-menu__body-item.selected-quality::before {
  content: "";
  width: 18px;
  height: 18px;
  background-image: url("./assets/icons/check-mark.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}
